* {
  margin: 0;
  padding: 0;
  font-family: Montserrat, sans-serif; }

html, body {
  height: 100%; }

body {
  display: flex;
  flex-direction: column; }
  body .content {
    flex: 1; }

.container {
  width: 2053px;
  margin: 0 auto;
  display: block;
  box-sizing: border-box; }

.search {
  font-size: 0;
  padding-top: 38px; }
  .search__input {
    height: 30px;
    padding: 0 10px;
    border: 1px solid #e7e7e7;
    box-sizing: border-box;
    background-color: transparent;
    border-right: none;
    outline: none;
    width: 154px; }
  .search__button {
    height: 30px;
    box-sizing: border-box;
    background-color: transparent;
    border: 1px solid #e7e7e7;
    border-left: none;
    padding-right: 11px;
    outline: none;
    cursor: pointer; }

a {
  text-decoration: none; }

.header {
  background-color: #333;
  height: 45px; }
  .header__container {
    height: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center; }
  .header__left {
    margin-left: 441px; }
  .header__right {
    margin-right: 442px; }
  .header__price {
    color: #777777;
    font-size: 13px;
    font-weight: 400; }
  .header__link {
    color: #999999;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px; }
    .header__link:first-child {
      margin-right: 20px; }
  .header__shopping-cart {
    margin-left: 82px;
    display: inline-block;
    background-color: #00c8c8;
    line-height: 46px;
    padding: 0 23px;
    color: #ffffff;
    font-size: 13px;
    font-weight: 400; }
    .header__shopping-cart i:first-child {
      margin-right: 22px;
      font-size: 17px; }
    .header__shopping-cart i:last-child {
      margin-left: 10px; }

.index {
  position: relative;
  height: 919px;
  background-color: #f8f8f8; }
  .index__nav {
    top: 0;
    position: absolute; }
  .index__container {
    background: url(img/index-main.png) 230px no-repeat #f8f8f8;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center; }
  .index__heading {
    color: #575153;
    font-size: 450px;
    font-weight: 700;
    letter-spacing: 190px; }

.nav {
  box-sizing: border-box;
  padding: 0 136px;
  width: 2053px;
  display: flex;
  justify-content: space-between;
  height: 112px; }
  .nav__right {
    display: flex; }
  .nav__logo {
    color: #222222;
    font-size: 24px;
    font-weight: 400;
    letter-spacing: 1.2px;
    padding-top: 38px; }
    .nav__logo span {
      font-weight: 700; }
  .nav__menu {
    margin-top: 46px;
    margin-right: 115px; }
  .nav__link {
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    color: #222; }
    .nav__link:hover {
      color: #00c8c8; }
    .nav__link:not(:last-child) {
      margin-right: 30px; }

.footer {
  flex-shrink: 0;
  display: flex;
  flex-direction: column; }
  .footer__top {
    background-color: #f8f8f8; }
  .footer__container_top {
    padding: 0 441px; }
  .footer__nav {
    display: flex;
    justify-content: space-between; }
  .footer__ul {
    list-style-type: none; }
  .footer__heading {
    color: #575153;
    font-size: 13px;
    font-weight: 400;
    line-height: 20px;
    margin-bottom: 30px;
    margin-top: 60px; }
  .footer__li {
    margin-bottom: 10px; }
    .footer__li:last-child {
      margin-bottom: 60px; }
  .footer__link {
    display: block;
    color: #727272;
    font-size: 14px;
    font-weight: 300; }
  .footer__p {
    color: #727272;
    font-size: 14px;
    font-weight: 300; }
  .footer__blocks {
    display: flex;
    justify-content: space-between;
    margin-bottom: 56px; }
  .footer__awards {
    background-color: #333;
    text-align: center;
    padding: 60px 55px; }
    .footer__awards h3 {
      color: #ffffff;
      font-size: 36px;
      font-weight: 700;
      letter-spacing: 1.8px; }
    .footer__awards h3:last-child {
      font-weight: 300; }
  .footer__external {
    font-size: 36px;
    background-color: #00c8c8;
    display: flex; }
  .footer__external-link {
    display: block;
    margin-top: 83px;
    margin-bottom: 83px;
    margin-right: 55px;
    color: white; }
    .footer__external-link:last-child {
      margin-right: 148px; }
    .footer__external-link:first-child {
      margin-left: 148px; }
  .footer__bottom {
    background-color: #333;
    line-height: 45px; }
  .footer__container_bottom {
    display: flex;
    justify-content: space-between;
    font-size: 13px;
    font-weight: 400;
    padding: 0 441px; }
  .footer__copyright {
    color: #999999; }
  .footer__creators {
    display: flex;
    color: #777777; }
  .footer__creator:first-child {
    margin-right: 30px; }

/*# sourceMappingURL=style.css.map */
